* {
    font-family: monospace;
    font-size: large;
    /* border: 1px solid orange; */

}
h1 {
    color: white
}

body {
    background-image: url("/Public/Martini.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 20px;
}
 
#clear {
    margin: 10px;
}

#suggestion {
    padding-top: 100px;
/*     border: 2px solid red; */
}

#suggestions {
    position: relative;
 padding: 0px;
}

ul {
    color: white;
    list-style: none;
    padding-top: 50px;
}

button {
    border-radius: 25px;
    border: none;
    color: black;
    background-color: white;
    z-index: 0;
}
 #search {
     border: none;
     border-radius: 5px;
     opacity: .7;
 }

 header { 
     position: fixed;
     margin: 10px;
 }
