* {
    font-family: monospace;
    font-size: large;
    
}
h1 {
    color: white
}

body {
    background-color: #3dbfc4;
    background-image: url("/Public/Martini.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
}

ul {
    color: white;
    list-style: none;
    padding-top: 50px;
}

button {
    border-radius: 25px;
    border: none;
    color: white;
    background-color: white;
    z-index: 0;
}
 #search {
     border: none;
     border-radius: 5px;
     opacity: .7;
 }

 header { 
     position: fixed;
 }
